.container {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  align-items: center;
}
.form {
  --color: #b586f3;
  padding: .8rem;
  display: grid;
  place-items: center;
  background-color: #fff;
  width: max-content;
  margin: 1rem auto;
  border-radius: .3rem;
  box-shadow: 0 0 1rem 5px var(--color);
}
.form input {
  padding: .6rem;
  border: 2px solid var(--color);
}
.form input::placeholder {
  color: var(--color);
  font-weight: bold;
}
