.card {
  display: flex;
  align-items: center;
  padding: .8em;
  gap: .2em;
  background-color: #fff;
  width: min(90vh, 600px);
  box-shadow: 0 0 1em 1px #000;
  border-radius: .3em;
  justify-content: space-between;
}

.input {
  border: none;
  appearance: none;
  resize: none;
  width: 100%;
}

.handle {
  cursor: move;
  padding: .3rem;
}
